.game-area{
	border: 4px solid green;
	position: relative;
}

.position-overview{
	border: 1px solid white;
	background-color: rgba(255, 255, 255, .3);
	min-height: 30px;
	position: absolute;
	z-index: 4000;
	width:100%;

	.track{
		border: 2px solid grey;
		border-radius: 15px;
		height:36px;
		position: relative;
		overflow: hidden;
		.track-horse{
			height: 30px;
			width: 30px;
			margin-left: -30px;
			border-radius: 15px;
			background-color: rgba(255, 0, 0, .5);
			border: 1px solid rgba(255, 0, 0, .8);
			position: absolute;
			top: 1px;
			left:0%;
			transition: left 1s;
			transition-timing-function: linear;

		}
	}


}

.messages{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5000;
	padding-top: 300px;
	text-align: center;
	background-color: rgba(0,0,0,.3);
	.waiting{
		display: none;
		background-color: rgba(255,255,255,.5);
		padding: 30px;
	}
	.coutdown{
		display: none;
		background-color: rgba(255,255,255,.5);
		padding: 30px;
	}
	.game-result{
		display: none;
		background-color: rgba(255,255,255,.5);
		padding: 30px;
	}
}

.waiting .messages .waiting{
	display: block;
}
.coutdown .messages .coutdown{
	display: block;
}
.game-result .messages .game-result{
	display: block;
}

.game-start .messages{
	display: none;
}

.game-controller{
	border: 1px dotted blue;
	.whip{
		background-color: rgba(0, 255, 0, .4);
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
}
