
<div class="game-area" ng-class="{'waiting':(vm.getStatus()=='INITIALISED'), 'coutdown':(vm.getStatus()=='START_COUNT_DOWN'), 'game-start':(vm.getStatus()=='START_GAME'), 'game-result':(vm.getStatus()=='GAME_RESULT')}">


	<div class="position-overview">
		<div class="track">
			<div class="track-horse" style="left:{{horse.distance}}%;" ng-repeat="horse in vm.horses()"></div>
		</div>
	</div>
	<div class="messages">

		<div class="waiting"><h1>Waiting for other users to join....</h1></div>
		<div class="coutdown"><h1>Game starts in - {{vm.getCountDownTime()}}</h1></div>
		<div class="game-result"><h1>Game result</h1></div>
	</div>

	<game-canvas></game-canvas>

	<div class="game-controller">
		<div class="hit-area">
			<div class="focus-area">
				<div class="focus"></div>
			</div>
		</div>
		<div class="energy-items">
			<div class="moving positive"></div>
			<div class="moving negative"></div>
			<div class="moving positive"></div>
			<div class="moving negative"></div>
			<div class="moving positive" ></div>
			<div class="moving negative"></div>
		</div>



	</div>
	<div>
		<button ng-click="vm.setSpeed(1)">30</button>
		<button ng-click="vm.setSpeed(1.2)">40</button>
		<button ng-click="vm.setSpeed(1.4)">50</button>
		<button ng-click="vm.setSpeed(1.6)">60</button>
		<button ng-click="vm.setSpeed(1.8)">70</button>
	</div>

</div>
