.form-container{
	border-radius: 5px;
	background: lighten($Burgundy, 60%);
	margin: 15px;
	margin-top: 20px;
}

.form-list.odd{
	background: lighten($DarkGrey, 71%);
}

.form-list.even{
	background: lighten($DarkGrey, 73%);
}

.form-list h2,
.form-list h4{
	margin: 0;
	text-align: left;
	color: $Orange;
}

.form-list h2{
}

.form-list p{
	margin-bottom: 0;
}



.form-header{
	background: $Burgundy;
	color: #FFF;
}

.horse-number-f{
	display: block;
	margin-right: 20px;
	background: $Orange;
	width: 48px;
	height: 48px;
	text-align: center;
	color: #FFF;
	font-size: 30px;
	border-radius: 50%;
	font-family: $charter;
	line-height: 42px;
	overflow: hidden;
}

.horse-number{
	display: block;
	background: $DarkGrey;
	width: 24px;
	height: 24px;
	text-align: center;
	color: #FFF;
	font-size: 15px;
	border-radius: 50%;
	font-family: $charter;
	line-height: 21px;
	color: #FFF !important;
	margin: 15px auto !important;
}

.horse-overview{
	margin: 0;
	font-family: $charter;
	padding: 15px 0;
	i{
		font-size: 2em;
		padding-top: 12px;
		color: lighten($DarkGrey, 40%)
	}
	a{
		color: $Burgundy;
	}
}

.light{
	color: $Grey;
}