.horse-gif {
    max-width: 100px;
    width: 100%;
    display: block;
    background-size: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    transition: all 2s ease;
    span {
        width: 100%;
        display: block;
        font-size: 1.4em;
    }
}
.zero-height {
    padding-top: 200px !important;
}

#horse1 .horse-gif {
    background: $Burgundy;
}
#horse2 .horse-gif{
    background: $Red;
}
#horse3 .horse-gif {
    background: $Tangerine;
}
#horse4 .horse-gif {
    background: $Rose;
}
#horse5 .horse-gif {
    background: $Orange;
}

.horse-gif-holder{
    max-height: 236px;
    min-height: 236px;
    overflow: hidden;
}

.horse-number {
    display: block;
    color: #000;
    font-size: 1em;
    margin: auto;
}

.horse-gif span{
    color: #FFF;
}

.w20{
    width: 20%;
}

.prediction{
    font-family: $charter;
}
 
.prediction h4 {
    display: inline-block;
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: left top 0;
    margin: 20px 0 0 60%;
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    font-family: $normal;
    font-style: normal;
}
 
.prediction h4:before {
   content: "";
   float: left;
   margin-top: 100%;
}

.prediction h4:after {
   content: "";
   width: 100%;
   display: inline-block;
}



.horsey-panel{
    background: url(/assets/images/bg-horsey-panel.png) top no-repeat;
    background-size: 100%;
    padding-top: 50%;
}

.horsey-panel h3{
    margin: 10px auto;
}

.horsey-panel .inner{
    background: $DarkGrey;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
}

.panelist{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.panelist-1{
    background: $Burgundy;
    color: #FFF;
}
.panelist-2{
    background: $Yellow;
}
.panelist-3{
    background: $Orange;
    color: #FFF;
}