<div class="container methods" style="min-height: {{contHeight}}px">
	<h1 ng-if="methodSelect.index == 0" class="centered first">Australia’s next top horsey </h1>
	<h1 ng-if="methodSelect.index != 0" class="centered first">Our top 5 according to {{methodSelect.name}}</h1>
	<p ng-if="methodSelect.index == 0">We have produced analysis around the Melbourne Cup for three years now and we are pulling together our fourth attempt at predicting the winner! As you are all aware, the Melbourne Cup is a particularly tricky one to predict as it is a race of champions with each horse being a star in its own right. This year on the modelling side we bring you analysis based on a variety of modelling techniques from across the team.</p>

	<select name="methodOptions" id="methodOptions" ng-model="methodSelect" ng-options="method as method.name for method in methods" class="btn btn-select m20 p20"></select>

	<div ng-if="methodSelect.index == 1">
		<p>An old favourite of predictive modellers, these traditional methods use mathematical formulas to estimate either the finishing place (linear) of a horse or its chance of winning (logistic).  </p>
		<p>It is the modelling technique of choice for many predictive problems.</p>
	</div>

	<div ng-if="methodSelect.index == 2">
		<p>A new entrant to the Melbourne Cup predictive method pool, machine learning is a branch of artificial intelligence that has found its way into many fields, including fraud detection, financial markets analysis, predicting safety incidents, and horse racing.</p>
		<p>Algorithms, including decision trees and their ensemble counter-parts, use historical race results to ‘learn’ the complex relationship between a horse’s characteristics (weight, age, trainer etc.) and its most-likely finishing place or probability of winning.</p>
	</div>

	<div ng-if="methodSelect.index == 4">
		<p>OK we admit it, there's no real mehod here, it's just pure flying by the seat of your pants luck, but generally it's the preferred method of the extremely infrequent gambler.</p>
	</div>

	<div ng-if="methodSelect.index == 0">
		<h2>Explanation</h2>
		<p>This year we threw the challenge of horsey prediction to our wider team who have used a range of modelling techniques to hunt down our top horses for 2015. Here we bring you details on what was done and the pros and cons of each approach.</p>
		<p>The approaches we used this year include the tried-and-tested linear regression model, a new machine learning model, and another more unique approach. However before starting the modelling we gathered a lot of data and expert input to hone in on what matters when it comes to picking winners.</p>
		<p>First up, we used web scraping scripts to gather as much data as we could for over 50 thousand horses and over 1 million race results (race with 24 horses would have 24 race results). Having such a big dataset allowed us to thoroughly test the model’s validity before including variables that we believed to be useful.</p>
		<p>The next step was to understand the intersection of variables that matter (via. research) and variables we were able to collect information on. This intersection was made up of race odds, horse speed & form, weight carried, track condition preference of the horse, and barrier position in each race.</p>
		<p>Armed with both the data and a hypothesis of what matters when it comes to predicting races the team set off from an even playing field to predict the top performing horses.</p>
	</div>

	<div ng-if="methodSelect.index != 0" class="prediction">
    <div class="p10 clearfix">
      <div class="css-cell w20 text-center clearfix" ng-repeat="i in [0,1,2,3,4]" id="horse{{i + 1}}">
        <span class="horse-number">{{i + 1}}</span>
        <div class="horse-gif-holder">
          <div style="margin-top: {{barSize(methodSelect.odds[i])}}px;">
              <img src="/assets/images/anim-horse{{i}}.gif" alt="running horse">
              <div class="horse-gif" style="height: {{barHeight(methodSelect.odds[i])}}px" >
                <span>${{methodSelect.odds[i]}}</span>
              </div>
          </div>
        </div>
        <div class="h4-holder">
	        <h4>{{methodSelect.horse[i]}}</h4>
  			</div>
    	</div>
    </div>
	</div>

	<div class="p10 clearfix prediction">
    
  </div>

	<div ng-if="methodSelect.index == 1">
		<h3>Pros</h3>
		<p>Traditional regression is a well-understood approach with easily interpretable results, and widely accepted by the business and scientific community.</p>
		<p>It is accessible via statistical software packages (e.g. SAS, R) or even MS Excel, for smaller datasets.</p>
		<h3>Cons</h3>
		<p>While many real-world scenarios are well-suited to these simple models, some require additional sophistication and flexibility. In these cases, alternatives such as machine learning techniques are more appropriate. </p>
	</div>

	<div ng-if="methodSelect.index == 2">
		<h3>Pros</h3>
		<p>Capable of elucidating complicated connections in data which are not immediately obvious, and producing accurate future predictions.  </p>
		<h3>Cons</h3>
		<p>A lower level of understanding exists outside of the statistics community.</p>
		<p>Machine learning approaches are also computationally demanding, and take a longer time to build. </p>
	</div>

	<div ng-if="methodSelect.index == 4">
		<h3>Pros</h3>
		<p>Well. Really. None. Except it's more fun this way.</p>
		<h3>Cons</h3>
		<p>There's nothing scientific about this method at all but given the truly random nature of horse racing, you could say this is the most accurate!</p>
	</div>

</div>