<div class="container correlations" style="min-height: {{contHeight}}px">
  <h1 class="first">Spur-rious Horsey Correlations</h1>

  <div ng-if="correlationSelect.index == 0">
  	<p>Whilst correlations can be useful when applied with an appropriate level of understanding, they can be harmful if misinterpreted... correlation is not causation!</p>
    <p>To illustrate what we mean, using our in-house correlation engine, we have uncovered a few coincidental relationships between horsey data and Australian commodities.</p>
	</div>
	
  <select name="correlationOptions" id="correlationOptions" ng-model="correlationSelect" ng-options="correlation as correlation.name for correlation in correlations" class="btn btn-select"></select>

	<h2 class="text-center" ng-if="correlationSelect.index != 0">Correlation score of {{correlationSelect.score}}%</h2>

	<div id="charts">
    <nvd3-line-chart
      data="correlationSelect.data1"
      id="left"
      height="300"
      showXAxis="true"
      showYAxis="true"
      margin="{left:80,top:15,bottom:35,right:80}"
      tooltips="true"
      isArea="true"
      yaxislabel="{{correlationSelect.data1[0].key}}"
      forceY="minMax(correlationSelect.data1[0].values)" 
      yaxislabeldistance="0"
      showLegend="true"
      legendMargin="{left:0,top:15,bottom:35,right:00}"
      >
      <svg></svg>
    </nvd3-line-chart>

    <nvd3-line-chart
      data="correlationSelect.data2"
      id="right"
      height="300"
      showXAxis="false"
      showYAxis="true"
      margin="{left:80,top:15,bottom:35,right:80}"
      tooltips="true"
      yaxislabeldistance="0"
      isArea="true"
      rightAlignYAxis="true"
      yaxislabel="{{correlationSelect.data2[0].key}}"
      forceY="minMax(correlationSelect.data2[0].values)"
      showLegend="true"
      legendMargin="{left:0,top:25,bottom:25,right:0}"
      >
      <svg></svg>
    </nvd3-line-chart>
  </div>

  <div ng-if="correlationSelect.index == 1">
    <p>With Australians packing on the porky pounds over the last 5 years, it's no surprise that the winning horse has had to do more work carrying those chubby cherubs across the line.</p>
    <p>Although racing authorities set the weights for race day, the saddle can only weigh so little.</p>
    <p>Statistical analysis has also shown that highly weighted horses actually have higher chances of winning, which may actually be a sneaky strategy of bacon lovers around the country.</p>
  </div>

  <div ng-if="correlationSelect.index == 2">
    <p>As economic times get tough and jobs become harder to find, Australians have been turning to the horse racing industry as a way of making ends meet.</p>
    <p>Behind every Melbourne Cup entry is a team dedicated to fulfilling every whim of the horse so that it can focus on one thing - running.</p>
    <p>However, these are very much part time jobs and it's no surprise that they head back to Centrelink once the races are over.</p>
  </div>

  <div ng-if="correlationSelect.index == 3">
    <p>The Melbourne Cup is known as 'the race which stops the nation' but is also less widely known as 'the race which boosts the economy'.</p>
    <p>Using hidden cameras at the event, we have discovered that local Australian companies are taking advantage of the lively atmosphere of the event to convince their international business partners to engage in beneficial deals. This opportunistic behaviour seems to foster the health of Australian products in overseas markets.</p>
  </div>

  <div ng-if="correlationSelect.index == 4">
    <p>Intuition and experience suggests that that spirit consumption is positively tied to the number of words we speak, and thus the length of a horse's name.</p>
    <p>However our analysts have found that indeed the opposite is true. Why is this?</p>
    <p>We have consulted experts of the field for comment.</p>
    <p>Although people are more verbose after some spirits, they're also more daring. As you would think people become more verbose with more drinks and braver with alcohol so the horse with shortest name never wins</p>
  </div>

</div>