#charts{
	width: 100%;
	height: 300px;
	position: relative;
}

#charts svg{
	width: 100%;
	height: 100%;
}

#charts #left,
#charts #right{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
}