<div class="container form" style="min-height: {{contHeight}}px">
    <h1 class="first">This years form</h1>
    <div class="form-container">
        <div class="row form-list" ng-repeat="horse in horses track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="clickable" ng-click="horse.show = !horse.show">
                <div class="row horse-overview">
                    <div class="col-xs-2">
                        <div class="horse-number-f">{{horse.number}}</div>
                    </div>
                    <div class="col-xs-8">
                        <h2>{{horse.name}}</h2>
                        <p>
                        <span class="xs-div"><span class="light">barrier:</span> {{horse.barrier}} </span>
                        <span class="xs-div"><span class="light">weight: </span>{{horse.weight}}kg </span>
                        <span class="xs-div"><span class="light">previous: </span>{{horse.previous}}</span>
                        <p ng-show="horse.show">
                        <span class="xs-div"><span class="light">age:</span> {{horse.age}} years </span>
                        <span class="xs-div"><span class="light">wins: </span>{{horse.wins}} %</span>
                        <span class="xs-div"><span class="light">place: </span>{{horse.place}} %</span>
                        <span class="xs-div"><span class="light">nationality: </span>{{horse.nationality}}</span>
                        </p>
                    </div>
                    <div class="col-xs-2"><i class="glyphicon glyphicon-plus-sign"  ng-show="!horse.show"></i>
                    <i class="glyphicon glyphicon-minus-sign" ng-show="horse.show"></i></div>
                </div>
            </div>   
        </div>
    </div>
</div>