/* base styles according to navigation */

/* PwC base colours */

$Yellow: #FFB600;

$Tangerine: #EB8C00;

$Orange: #DC6900;

$Red: #E0301E;

$Rose: #DB536A;

$Burgundy: #A32020;

$Maroon: #602320;

$Grey: #968C6D;

$DarkGrey: #3F3F40;

$LightGrey: #EFEFEF;


/* colours - backgrounds */

.bg-lgrey{
	background: lighten($Grey, 40%)
}

/* backgournd images */

.container#home{
	background: #579546 url(../assets/svg/home-image.svg) center no-repeat;
	background-size: cover;
	color: $Maroon;
}