/*object oriented styles*/

/* paddings */

.p10{
	padding: 10px;
}

.p20{
	padding: 20px;
}

.pt0{
	padding-top: 0;
}

/* widths */

.w25{
	width: 25%;
}

.w50{
	width: 50%;
}

.w100{
	width: 100%;
}

/* align */

.centered{
	text-align: center;
}




.strong{
	font-weight: bold;
}