/* mobile only display for now */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a:link,
a:visited{
	color: #333;
}

body{
	font-family: "ITC Charter","Georgia",serif;
	background: #EFEFEF;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.clickable{
	cursor: pointer;
}

.hidden{
	display: none;
}

.main-column{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

#wrapper{
	display: block;
	padding-top: 60px;
}

#footer{
	font-size: 11px;
	background: $DarkGrey;
	color: #3F3F40;
	width: 100%;
	margin: 0 auto;
}

#header{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1001;
	background: $Maroon;
	height: 60px;
	color: #FFF;
	line-height: 40px;
	box-shadow: 0 2px 2px -2px lighten($Maroon, 5%);
}

#header .main-column{
	padding: 0 60px;
}

#header h1{
	font-size: 24px;
	margin: 10px auto;
	color: #FFF;
}

#header .btn{
	padding: 15px;
	font-size: 24px;
}



.css-table{
	border-radius: 5px;
}

.css-row{
}

.css-cell{
	float: left;
	display: block;
	padding: 5px;
}

.btn-panel{
	border-top: solid 1px #FFF;
	border-bottom: solid 1px darken($LightGrey, 5%);	
	border-left: solid 1px #FFF;
	border-right: solid 1px darken($LightGrey, 5%);
	background: lighten($LightGrey, 5%);
}

.profile,
.races{
	display: block;
	background: #FFF;
	margin: 50px 0 0 0;
	border-radius: 5px;
	text-align: center;
}

.profile img,
.races img{
	width: 40%;
	margin: -20px auto -10px;
}

h1{
	color: $Burgundy;
	font-size: 24px;
	font-weight: bold;
}

a.btn-primary,
.btn-primary{
	color: #FFF;
	background: $Burgundy;
	border: none;
}

a.btn-secondary,
.btn-secondary{
	color: #FFF;
	background: $Orange;
}
