/*#hamburger-container{
	display: block;
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	overflow: hidden;
	background: none;
	z-index: 0;
}*/

#hamburger{
	display: block;
	padding-top: 60px;
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	color: #FFF;
	background: rgba($DarkGrey, 0.9);
	font-family: Arial, Sans-serif;
	font-size: 22px;
	transition: left ease .5s;
	z-index: 1001;
}

#hamburger.active{
	left: 0;
}

#wrapper{
	overflow: hidden;
}

ul li{
	padding: 20px;
	border-top: solid 1px rgba($DarkGrey, 0.5);
	border-bottom: solid 1px rgba(#FFF, 0.1);
}

