<div id="hamburger">
  <ul class="nav-main">
    <li><a href="#/">Horsing Around</a></li>
    <li><a href="#/our-prediction">Our prediction</a></li>
    <li><a href="#/spurious-correlations">spurious-correlations</a></li>
    <li><a href="#/social">Social says</a></li>
    <li><a href="#/the-form">The form</a></li>
    <li><a href="#/credits">Credits</a></li>
  </ul>
  <ul class="nav-game">
    <li><a href="#/race-to-win">Race to Win</a></li>
    <li><a href="#/race-to-win/your-horse">Your horse</a></li>
    <li><a href="#/race-to-win/race">Start/Join race</a></li>
    <li><a href="#/race-to-win/leaderboard">Leaderboard</a></li>
  </ul>
</div>