<!doctype html>
<html ng-app="melbournecup">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>RACE to WIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body class="{{bodyClass}}" ng-controller="HamburgerController">

    <div id="header">
        <div class="pull-left btn">
            <img src="/assets/svg/PwC.svg" alt="PwC" id="PwC" width="40">
        </div>
        <div>
            <div class="pull-right btn btn-hamburger" ng-click="hamburgerState = !hamburgerState">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </div>
            <div id="hamburger-container" ng-class="{'active' : hamburgerState == true}">
                <div id="hamburger">
                  <ul class="nav-main">
                    <li><a ng-click="navMe('/')">Welcome</a></li>
                    <li><a ng-click="navMe('/our-prediction')">Our top horses</a></li>
                    <li><a ng-click="navMe('/social')">Social trends</a></li>
                    <li><a ng-click="navMe('/the-form')">Quick form guide</a></li>
                    <li><a ng-click="navMe('/your-horsey-name')">Discover your horsey name</a></li>
                    <li><a ng-click="navMe('/our-geeks-pick')">Geek zone</a></li>
                    <li><a ng-click="navMe('/spurious-correlations')">Horsey correlations</a></li>
                    <li><a ng-click="navMe('/credits')">meet our horsey team</a></li>
                  </ul>
                  <!-- <ul class="nav-game">
                    <li><a ng-click="navMe('/race-to-win')">Race to Win</a></li>
                    <li><a ng-click="navMe('/race-to-win/your-horse')">Your horse</a></li>
                    <li><a ng-click="navMe('/race-to-win/race')">Start/Join race</a></li>
                    <li><a ng-click="navMe('/race-to-win/leaderboard')">Leaderboard</a></li>
                  </ul> -->
                </div>
            </div>
        </div>
        <div class="main-column p10">
            <h1>Horsing Around</h1>
        </div>
    </div>

    

    <div id="wrapper" class="main-column">
        
        <!--[if lt IE 10]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-view></div>
    </div>

    <div id="footer">
        <div class="text-center p20">
            <p class="footlinks">
            <a href="http://www.pwc.com.au/contact-us/privacy-policy.htm" target="_blank">privacy</a> 
            <a href="http://www.pwc.com.au/contact-us/cookies-info.htm" target="_blank">cookies info</a> 
            <a href="http://www.pwc.com.au/contact-us/legal-disclaimer.htm" target="_blank">legal</a> 
            <a href="http://www.pwc.com.au/contact-us/linking-policy.htm" target="_blank">linking policy</a> 
            <a href="http://www.pwc.com.au/contact-us/site-provider.htm" target="_blank">site provider</a>
            </p>

            <p>This site has been prepared for general information on matters of interest only, and is not intended to be taken seriously.  PwC does not have any specialist knowledge of horse racing.  This document does not constitute professional advice and you should not rely upon the information contained in it. PwC has not verified the truth or accuracy of any information contained in this document/site and no representation or warranty (express or implied) is given as to the accuracy or completeness of the information. PwC does not recommend or endorse the placing of any bet in relation to any horse in the Melbourne Cup.  All odds are as of 9.00am Sunday 2 November 2014.  Readers should check the official odds offered at www.tab.com.au.</p>
            <p>Gamble responsibly.  For advice and help, visit <a href="http://www.gamblinghelponline.org.au" target="_blank">Gambling Help Online</a> or phone 1800 858 858.</p>
            <p>&copy; 2014 PricewaterhouseCoppers.  All rights reserved.  PwC refers to the Australian member firm, and may sometimes refer to the PwC network.  Each member firm is a separate and legal entity.  Please see <a href="www.pwc.com/structure" target="_blank">www.pwc.com/structure</a> for further details</p>

        </div>
    </div>

    
    

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
